.label {
  font-size: 20px;
  font-weight: 500;
  color: #093a3e;
}
.input {
  width: 300px;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 15px;
  border-color: #ff4f79;
  outline: none;
}
